/*
 Theme Name:   Paniers
 Description:  Theme pour les Paniers d'EDEN
 Author:       Benoit
 Author URI:   https://github.com/benoit35530
 Template:     bootscore
 Version:      1.0.0
 Requires at least: 5.0
 Tested up to: 6.6
 Requires PHP: 7.4
 License: MIT License
 License URI: https://github.com/bootscore/bootscore-child/blob/main/LICENSE
 Text Domain:  bootscore
*/

/*
All style editing is done via /assets/scss/_bootscore_custom.scss
*/
